body{
    overflow-x: hidden;
    color: var(--color-texto);
}

main {
    background-color: var(--color-secundario);
}

.menu {
    background-color: var(--color-fondo);
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px;
    font-size: 1em;
    z-index: 1;
}

.logo {
    width: 5rem;
    height: 2.9rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.opciones {
    display: flex;
    gap: 20px;
}

.inicio {
    height: calc(95vh - 64px);
    padding: 0 50px;
    gap: 50px;
    background-color: var(--color-fondo);
}

.texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    color: var(--color-texto);
}

.texto:in-viewport {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}

.titulo {
    font-size: clamp(2.3rem, -0.6667rem + 4.4444vw, 4rem);
    color: var(--color-texto);
    animation: fadeIn 1.5s ease-out forwards;
}

.descripcion {
    font-size: clamp(1.1rem, 0.0629rem + 1.8438vw, 1.4rem);
    color: var(--color-texto);
}

.persona {
    width: 90vw;
}

.persona img {
    width: 100%;
    height: auto;
}

.wave {
    width: 200vw;
    fill: var(--color-fondo);
    animation: animacionWave 7.5s  infinite alternate;
}

.acerca {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 3.5rem;
}

.contenido {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    background-color: var(--color-primario);
    border-radius: 14px;
}

.caracteristicas {
    width: 20vw;
    gap: 5rem;
}

.caracteristica {
    gap: 1em;
}

.caracteristica-texto{
    gap: 0.3em;
}

.caracteristica-texto h1 {
    color: var(--color-texto);
    font-size: 1.2rem;
}

.caracteristica-texto p {
    color: var(--color-texto);
    font-size: 0.9rem;
    opacity: 0.5;
}

.dispositivos{
    background-color: var(--color-primario);
    animation: animacionBlob 8s infinite;
}

.dispositivos img {
    width: 90%;
}

.faq {
    gap: 3rem;
    padding: 20px;
    height: 80vh;
    background-color: var(--color-fondo);
}

.preguntas {
    gap: 2rem;
    width: 40%;
}

.card-pregunta {
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 15px 20px;
    border-radius: 14px;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    color: var(--color-texto-footer);
    padding: 20px;
    gap: 5px;
}

.dudas {
    gap: 4rem;
}

.opcion-footer {
    gap: 0.5rem;
}

#btn-inicio {
    font-size: 1.5em;
}

#intro-bienvenida {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-fondo);
}

#intro-bienvenida {
    position: fixed;
    background: var(--color-fondo);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.7s;
}

.intro-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-fondo);
    opacity: 0;
    transition: opacity 0.9s cubic-bezier(.77, 0, .18, 1), transform 0.6s cubic-bezier(.77, 0, .18, 1);
}

.intro-logo.visible {
    opacity: 1;
}

.intro-logo.move-left {
    transform: translateX(-180px);
}

.intro-texto {
    opacity: 0;
    transform: translateX(70px);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-texto);
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    transition: opacity 1s, transform 0.7s cubic-bezier(1, 0, .18, 1);
}

.intro-texto.visible {
    opacity: 1;
    transform: translateX(50px);
}

.funcionamiento-cards{
    padding: 3em;
}

.card{
    background-color: var(--color-fondo);
    max-width: 13em;
    min-height: 200px;
    padding: 1em;
    border-radius: 14px;
}

.card-icon{
    padding: 1em;
    background-color: var(--color-secundario);
    border-radius: 50%;
}

.card-icon{
    color: var(--color-primario);
    width: 20px;
}

.card-texto b{
    font-size: 1.2rem;
}

.card-texto p{
    font-size: 0.8rem;
    opacity: 0.5;
}

@keyframes animacionWave {
    0%{
        transform: translate(-50%);
    }
    100%{
        transform: translate(0%);
    }
}

@keyframes animacionBlob {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
    transform: translateY(20px);
  }
  100% {
    opacity: 1; 
    transform: translateY(0);
  }
}

@media screen and (orientation: portrait) {
    .menu {
        gap: 30px;
    }

    #opciones-menu-hamburguesa {
        display: none;
    }

    #menu-hamburguesa {
        display: block;
        cursor: pointer;
        fill: var(--color-texto);
    }

    #opciones-boton {
        gap: 5px;
        margin-left: 3vw;
    }

    .inicio {
        flex-direction: column;
        height: auto;
        padding: 60px;
        gap: 30px;
    }

    .persona {
        width: auto;
    }

    .btn1,
    .btn2 {
        justify-content: center;
        padding: 10px 8px;
        width: 93px;
        font-size: 0.8em;
    }

    #btn-inicio {
        font-size: 1.2em;
    }

    .dispositivos {
        display: none;
    }

    .contenido {
        flex-direction: column;
        justify-content: start;
    }

    .caracteristicas {
        width: 100%;
        flex-direction: row;
    }

    .caracteristica {
        width: 150px;
    }

    #dispositivos2 {
        display: block;
    }

    footer {
        text-align: center;
        padding: 20px 10px;
    }

    .dudas {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    footer .logo {
        width: 50px;
        height: auto;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .opcion-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .opcion-footer h2 {
        margin-bottom: 5px;
        font-size: 1.2rem;
    }

    .opcion-footer p {
        font-size: 1rem;
    }

    .derechos {
        margin-top: 20px;
        font-size: 0.9rem;
        color: #aaa;
    }

    .preguntas {
        width: 300px;
    }
}

@media screen and (orientation: landscape) {
    #menu-hamburguesa {
        display: none;
        background-color: var(--color-texto);
    }

    #dispositivos2 {
        display: none;
    }
}