body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo2);
    margin: 40px;
    color: var(--color-texto);
    transition: background-color 1s, color 2s;
}

h2 {
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-texto);
}

.tabs {
    display: flex;
    border-bottom: 2px solid var(--color-texto-secundario);
    margin-bottom: 24px;
    font-weight: 600;
}

.tab {
    margin-right: 24px;
    padding-bottom: 8px;
    cursor: pointer;
    color: var(--color-primario);
    border-bottom: 2px solid var(--color-primario);
}

.tab.inactive {
    color: var(--color-texto-secundario);
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    background-color: var(--color-fondo);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead th {
    padding: 16px 20px;
    text-align: left;
    font-weight: 600;
    color: var(--color-texto);
    font-size: 14px;
    user-select: none;
    background-color: var(--color-fondo);
}

tbody tr {
    background-color: var(--color-fondo2);
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease-in-out;
}

tbody tr:hover {
    background-color: var(--color-secundario);
}

tbody tr td {
    padding: 12px 20px;
    vertical-align: middle;
    font-size: 14px;
    color: var(--color-texto);
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid var(--color-texto-secundario);
}


.file-icon {
    display: inline-block;
    width: 20px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    background: url('data:image/svg+xml;utf8,<svg fill="%23999" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 2h8l4 4v14a2 2 0 01-2 2H6a2 2 0 01-2-2V4a2 2 0 012-2zM13 3.5V8h4.5L13 3.5z"/></svg>') no-repeat center;
    background-size: contain;
}


.tag {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
    text-transform: lowercase;
    font-family: monospace;
    user-select: none;
}

.tag.sql {
    background-color: #ff5c5c;
}

.tag.csv {
    background-color: #00aaa5;
}

.tag.txt {
    background-color: #4353ff;
}

.tag.json {
    background-color: #ffb541;
    color: #fff;
}


.btn-optimize {
    background-color: var(--color-primario);
    border: none;
    padding: 6px 14px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    transition: background-color 0.2s;
}

.btn-optimize:hover {
    background-color: rgba(var(--color-primario-rgb), 0.8);
}

.btn-optimize svg {
    margin-right: 6px;
}


.btn-optimize svg {
    fill: white;
}


.actions {
    width: 24px;
    text-align: center;
    cursor: pointer;
}

.actions svg circle {
    fill: #bbb;
}

.actions:hover svg circle {
    fill: #666;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-bar {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-texto-secundario);
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
    background-color: var(--color-fondo);
}

.filter-bar input, .filter-bar select {
    border: none;
    padding: 8px 12px;
    outline: none;
    font-size: 14px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.filter-bar input {
    width: 180px;
}

.filter-bar select {
    cursor: pointer;
    border-left: 1px solid var(--color-texto-secundario);
}

.filter-bar button {
    background-color: var(--color-fondo);
    border: none;
    border-left: 1px solid var(--color-texto-secundario);
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-texto);
    transition: background-color 0.2s;
}

.filter-bar button:hover {
    background-color: var(--color-secundario);
}