@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    
    /* 🔹 Fondo degradado + imagen */
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-color: #26AAB5; /* color de respaldo si no carga la imagen */
  }
  

.square {
    position: relative;
    width: 300px;
    height: 300px;
}

.square span:nth-child(1) {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.blobs:hover span:nth-child(1) {
    border: none;
    background: #00b8bf;
}

.square span:nth-child(2) {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.blobs:hover span:nth-child(2) {
    border: none;
    background: #00b8bf;
}

.square span:nth-child(3) {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.blobs:hover span:nth-child(3) {
    border: none;
    background: #00b8bf;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@media (max-width: 768px) {
  .square {
    width: 200px;
    height: 200px;
  }
  
  .square span {
    width: 250px !important;
    height: 95px !important;
  }
}

@media (max-width: 768px) {
    body {
      background-attachment: scroll;
      background-position: center;
    }
  }
  