body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.wave-div{
    width: 100%;
    height: 200px;
    overflow: hidden;
    line-height: 0;
}
.wave {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #26AAB5;
  border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  opacity: 0.6;
  filter: blur(60px);
  animation: blobMove 25s infinite ease-in-out;
}

/* ---- Variaciones ---- */
.wave1 {
  top: 10%;
  left: 5%;
  animation-duration: 40s;
  opacity: 0.6;
}

.wave2 {
  top: 40%;
  right: 10%;
  animation-duration: 35s;
  opacity: 0.5;
  background: #1E8992;
}

.wave3 {
  bottom: 10%;
  left: 15%;
  animation-duration: 30s;
  opacity: 0.4;
  background: #167279;
}

/* .wave4 {
  bottom: 5%;
  right: 5%;
  animation-duration: 25s;
  opacity: 0.3;
  background: #0E565C;
}

.wave5 {
  bottom: 15%;
  right: 20%;
  animation-duration: 25s;
  opacity: 0.1;
  background: #0E565C;
}

.wave6 {
  bottom: 5%;
  left: 5%;
  animation-duration: 25s;
  opacity: 0.3;
  background: #0E565C;
}

.wave7 {
  bottom: 5%;
  right: 20%;
  animation-duration: 25s;
  opacity: 0.3;
  background: #0E565C;
} */

/* ---- Animación del blob ---- */
@keyframes blobMove {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
  25% {
    transform: translate(50px, -80px) scale(1.1) rotate(45deg);
    border-radius: 60% 40% 30% 70% / 60% 30% 40% 70%;
  }
  50% {
    transform: translate(-60px, 60px) scale(0.95) rotate(90deg);
    border-radius: 50% 50% 60% 40% / 50% 60% 40% 50%;
  }
  75% {
    transform: translate(70px, 40px) scale(1.05) rotate(135deg);
    border-radius: 70% 30% 50% 50% / 30% 70% 50% 50%;
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(180deg);
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
}
