<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Error 404 - Página no encontrada</title>
  <link rel="stylesheet" href="../../config/css/404.css" >
</head>
<body>
  <header class="header">
    <img src="../../config/icons/logo.svg" alt="Logo" class="logo">
  </header>

  <main class="page">
    <section class="card">
      <figure class="illustration">
        <img src="../../config/images/policias.png"  alt="policias" class="img-policias">
      </figure>

      <div class="center-content">
        <img src="../../config/images/401.svg" alt="401" class="img-401">
        <h2 class="title">No tienes los permisos</h2>
        <p class="desc">no tienes el poder nesesario para acceder aqui, por favor abstente de seguir intentandolo</p>
        <a class="btn" href="./index.html">Volver al inicio</a>
      </div>

      <figure class="side-deco">
        <img src="../../config/images/arrestado.png"  alt="arrestado.png" class="img-arrestado">
      </figure>
    </section>

    <footer class="attribution">
      <a href="./reportar.html">Si crees que esto es un error, contacta al administrador. </a>
    </footer>
  </main>
</body>
</html>
