<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Error 404 - Página no encontrada</title>
  <link rel="shortcut icon" href="../../config/icons/logo-solo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../../config/css/404.css" >
</head>
<body>
  <header class="header">
    <img src="../../config/icons/logo.svg" alt="Logo" class="logo">
  </header>

  <main class="page">
    <section class="card">
      <figure class="illustration">
        <img src="../../config/images/hombre-pensante.svg"  alt="Hombre pensante" class="img-pensante">
      </figure>

      <div class="center-content">
        <img src="../../config/images/404.svg" alt="404" class="img-404">
        <h2 class="title">Página no encontrada</h2>
        <p class="desc">Lo sentimos, la página que buscas no existe o se ha movido.</p>
        <a class="btn" href="../../index.html">Volver al inicio</a>
      </div>

      <figure class="side-deco">
        <img src="../../config/images/hombre-pensante.svg"  alt="Hombre pensante" class="img-pensante">
      </figure>
    </section>

    <footer class="attribution"> 
     <a href="./reportar.html">Si crees que esto es un error, contacta al administrador. </a>
    </footer>
  </main>
</body>
</html>
