<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Error 404 - Página no encontrada</title>
  <link rel="stylesheet" href="../../config/css/404.css" >
</head>
<body>
  <header class="header">
    <img src="../../config/icons/logo.svg" alt="Logo" class="logo">
  </header>

  <main class="page">
    <section class="card">
      <figure class="illustration">
        <img src="../../config/images/hombre-derrotado.png"  alt="Hombre derrotado" class="img-derrotado">
      </figure>

      <div class="center-content">
        <img src="../../config/images/500.svg" alt="500" class="img-500">
        <h2 class="title">Upss se cayo</h2>
        <p class="desc">Tranquilo, no eres tu, somos nosotros, error interno de la app</p>
        <a class="btn" href="./index.html">Volver al inicio</a>
      </div>

      <figure class="side-deco">
        <img src="../../config/images/hombre-llamas.png"  alt="Hombre llama" class="img-llama">
      </figure>
    </section>

    <footer class="attribution">
      <a href="./reportar.html">Si crees que esto es un error, contacta al administrador. </a>
    </footer>
  </main>
</body>
</html>
