<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Configuración</title>
  <link rel="stylesheet" href="../../config/css/configuracion.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/config/css/sidebar.css">
</head>
<body>

  <main class="settings-container ml-0 md:ml-72">
    <header class="header">
      <h1>Configuración</h1>
    </header>

    <section class="settings-section">
      <h2>Cuenta</h2>
      <div class="setting-item">
        <a class="btn" href="#">Cambiar contraseña</a>
      </div>
      <div class="setting-item">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" value="Usuario123">
      </div>
    </section>

    <section class="settings-section">
      <h2>Tema</h2>
      <div class="setting-item toggle">
        <span>Modo oscuro</span>
        <div class="tema-selector">
          <select id="tema-select">
            <option value="auto">Automático</option>
            <option value="light">Modo claro</option>
            <option value="dark">Modo oscuro</option>
          </select>
        </div>
      </div>
    </section>

    <section class="settings-section">
      <h2>Integraciones</h2>
      <div class="setting-item toggle">
        <span>Integración con Google Drive</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider"></span>
        </label>
      </div>
    </section>

    <section class="settings-section">
      <h2>Soporte</h2>
      <div class="setting-item">
        <a class="btn" href="./nosotros.html">Sobre nosotros</a>
      </div>
      <div class="setting-item">
        <a class="btn" href="./reportar.html">Reportar Errores</a>
      </div>
    </section>

    <section class="settings-section">
      <h2>Legal</h2>
      <div class="setting-item">
       <a class="btn" href="#">Términos y Privacidad</a>
      </div>
    </section>

    <p class="version">Versión 1.0.0</p>
  </main>

  <script src="../../assets/js/theme.js"></script>
</body>
</html>
