<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datasnap</title>
    <link rel="stylesheet" href="/DataSnap/config/css/style.css">
</head>
<body>
    <main>
        <nav class="menu">
            <div class="logo">
                <img src="/DataSnap/config/images/logo.svg">
            </div>
            <div class="opciones">
                <a href="#">
                    Inicios
                </a>
                <a href="#">
                    Acerca de Nosotros
                </a>
                <a href="#">
                    Contactar
                </a>
                <a href="#">
                    Faq
                </a>
            </div>
            <div class="opciones">
                <a href="#" class="btn1">
                    Registrarse
                </a>
                <a href="#" class="btn2">
                    Iniciar Sesion
                </a>
            </div>
        </nav>
        <div class="inicio">
            <div class="texto">
                <h1 class="titulo">
                    Impulsá tu negocio con gestión inteligente <br> de datos
                </h1>
                <p class="descripcion">
                    A través de inteligencia artificial, analizamos y optimizamos tus bases 
                    de datos para automatizar procesos internos, corregir errores y mejorar la 
                    eficiencia operativa.
                </p>
                <div class="opciones">
                    <a href="#" class="btn1" id="btn-inicio">
                        COMENZAR
                    </a>
                    <a href="#" class="btn2" id="btn-inicio">
                        ACERCA
                    </a>
                </div>
            </div>
            <div class="persona">
                <img src="/DataSnap/config/images/Persona.png">
            </div>
        </div>
        <img src="/DataSnap/config/images/wave.svg" class="wave">
        <div class="acerca centrar">
            <div class="texto">
                <h1 class="titulo centrar">
                    Acerca de Datasnap
                </h1>
                <p class="descripcion centrar" >
                    Datasnap integra actualmente diversas funcionalidades clave orientadas
                    a la conversión, análisis y optimización de datos, entre las cuales se 
                    encuentran:
                </p>
            </div>
            <div class="contenido">
                <div class="caracteristicas">
                    <div class="caracteristica">
                        <div class="icono">
                            <img src="/DataSnap/config/images/file.svg">
                        </div>
                        <div class="caracteristica-texto">
                            <h1 class="centrar">
                                Lectura de Archivos
                            </h1>
                            <p>
                                puede procesar archivos csv, txt, json y sql
                            </p>
                        </div>
                    </div>
                    <div class="caracteristica">
                        <div class="icono">
                            <img src="/DataSnap/config/images/efficiency.svg">
                        </div>
                        <div class="caracteristica-texto">
                            <h1 class="centrar">
                                Correcion de Errores
                            </h1>
                            <p>
                                eliminacion de datos repetidos y optimizacion
                            </p>
                        </div>
                    </div>
                </div>
                <div class="dispositivos">
                    <img src="/DataSnap/config/images/dispositivos.png">
                </div>
                <div class="caracteristicas">
                    <div class="caracteristica">
                        <div class="icono">
                            <img src="/DataSnap/config/images/backup.svg">
                        </div>
                        <div class="caracteristica-texto">
                            <h1 class="centrar">
                                Copias de Seguridad
                            </h1>
                            <p>
                                cada vez que se modifique <br> se guarda una copia de <br> respaldo
                            </p>
                        </div>
                    </div>
                    <div class="caracteristica">
                        <div class="icono">
                            <img src="/DataSnap/config/images/statistics.svg">
                        </div>
                        <div class="caracteristica-texto">
                            <h1 class="centrar">
                                Estadistcas
                            </h1>
                            <p>
                                se puede analizar los datos <br> del archivo y otorga un informo de estadisticas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="texto">
                <h1 class="centrar">
                    Preguntas Frecuentes 
                </h1>
            </div>
            <div class="preguntas">
                <div class="card-pregunta">
                    <h2>Pregunta 1</h2>
                    <h2>+</h2>
                </div>
                <div class="card-pregunta">
                    <h2>Pregunta 2</h2>
                    <h2>+</h2>
                </div>
                <div class="card-pregunta">
                    <h2>Pregunta 3</h2>
                    <h2>+</h2>
                </div>
                <div class="card-pregunta">
                    <h2>Pregunta 4</h2>
                    <h2>+</h2>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="dudas">
            <div class="logo">
                <img src="/DataSnap/config/images/logo.svg">
            </div>
            <div class="opcion-footer">
                <h2>Ayuda</h2>
                <p>
                    Reportar algunn problema
                </p>
                <p>
                    Como usar Datasnap
                </p>
                <p>
                    Faq
                </p>
            </div>
            <div class="opcion-footer">
                <h2>Acerca de nosotros</h2>
                <p>
                    Quienes somos
                </p>
                <p>
                    Acerca de la pagina
                </p>
                <p>
                    Contactanos
                </p>
            </div>
            <div class="opcion-footer">
                <h2>Nuestras Redes</h2>
                
            </div>
        </div>
        <div class="derechos">

        </div>
    </footer>
</body>
</html>
