* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.display-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

a {
  color: var(--color-texto);
  text-decoration: none;
}

.btn1 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2.5px solid var(--color-primario);
  border-radius: 14px;
}

.btn2 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-primario);
  border-radius: 14px;
  color: var(--color-texto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #2DACB5;
    --color-secundario: #1F2937;
    --color-fondo: #111827;
    --color-texto: #FFFFFF;
    --color-texto-footer: #FFFFFF;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primario: #2DACB5;
    --color-secundario: #C8F5F9;
    --color-fondo: #FDFDFD;
    --color-texto: black;
    --color-texto-footer: #FFFFFF;
  }
}